*{
    font-family: Arial, Helvetica, sans-serif;
}
.dcont{
    display: flexbox;
    margin: auto;
    width: 600px;
    height: 700px;
    padding-top: 30px;
}
.dcont h1{
    text-align: center;
}
.form1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form input{
    width: 420px;
    height: 25px;
}
.formbtn button{
    color: white;
    background-color: #0096FF;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}
.formradio input{
    height: 15px;
    width: 15px;
}
.formradio{
    display: flex;
    gap: 120px;
}
.frm-1{
    display: flex;
    gap: 70px;
    align-items: center;
}
.frml{
    display: flex;
    align-items: center;
}
.frml label{
    padding-top: 5px;
}
